<nav>
    <div class="phone">
        <button><i class="fa-solid fa-bars"></i></button>
    </div>
    <ul>
        <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
        <li><a [routerLink]="['/competences']" routerLinkActive="active">Compétences</a></li>
        <li><a [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a></li>
        <li><a [routerLink]="['/experiences']" routerLinkActive="active">Expériences</a></li>
        <li><a [routerLink]="['/formation']" routerLinkActive="active">Formation</a></li>
        <li><a [routerLink]="['/passe-temps']" routerLinkActive="active">Passe-temps</a></li>
    </ul>
</nav>
