$primary: rgba(233,103,103,255);
$secondary: rgba(120,120,120,255);

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 60px;
    padding: 35px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: $primary;
}

.phone {
    display: none;
}

// tablette
@media screen and (max-width: 992px) {
    ul {
        column-gap: 25px;
        justify-content: center;
    }
    .active {
        text-decoration: underline;
    }
}

// phone
@media screen and (max-width: 768px) {
    .phone {
        display: flex;
        padding: 10px;
        button {
            background-color: $primary;
            padding: 5px 15px;
            border-radius: 3px;
            font-size: 1.2rem;
            border: none;
        }
    }
    ul {
        display: none;
    }

}