<main class="container">
    <div class="container-txt">
        <div class="container-txt__item">
            <p class="date">2021-2022</p>
            <h2>Développeur Web</h2>
            <h3>Projets de formation (à domicile)</h3>
            <p>Conception de sites web, d'API et de bases de données (parties front-end et back-end via html5, css3, sass, nodeJS, JS, mySQL, mongoDB et Angular)</p>
        </div>
        <div class="container-txt__item">
            <p class="date">2019-2021</p>
            <h2>Ludothécaire</h2>
            <h3>Association Ludolieusaint (Lieusaint)</h3>
            <p>Animation, gestion du stock de jeux, explication de jeux, création d'animations, accueil de la clientèle, tâches administratives, création d'un magazine</p>
        </div>
        <div class="container-txt__item">
            <p class="date">2018-2019</p>
            <h2>Technicien en cafétéria</h2>
            <h3>Mediterranéa de catering (Elche, Espagne)</h3>
            <p>Technicien en cafétéria d'hôpital, aide de la diététicienne à l'élaboration des menus</p>
        </div>
        <div class="container-txt__item">
            <p class="date">2016-2017</p>
            <h2>Apprenti responsable qualité</h2>
            <h3>SODEXO (Boulogne Billancourt)</h3>
            <p>Audits hygiène en restauration collective sur l'Île de France, l'Est et le Nord, formation des équipes aux bonnes pratiques d'hygiène et à la nutrition</p>
        </div>
    </div>
    <div class="container-title">
        <h1>Expériences</h1>
        <div class="container-title__icon">
            <p>
                <i class="fa-solid fa-code"></i><i class="fa-solid fa-chess"></i>
                <i class="fa-solid fa-store"></i><i class="fa-solid fa-circle-check"></i>
            </p>
        </div>
    </div>
</main>

