<main>
    <section class="container">
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Expériences</h1>
            </div>
            <div class="container__txt-more">
                <div class="container__txt-more-icon">
                    <p>
                        <i class="fa-solid fa-code"></i><i class="fa-solid fa-chess"></i>
                        <i class="fa-solid fa-store"></i><i class="fa-solid fa-circle-check"></i>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Développeur Web (2021-2022)</th>
                        <td><span class="title">Projets durant la formation OpenClassroom Développeur Web à domicile</span><br>
                            Conception de sites web, d'API et de bases de données (parties front-end et back-end via html5, css3, sass, nodeJS, JS, mySQL, mongoDB et Angular) <br>
                        </td>
                    </tr>
                    <tr>
                        <th>Ludothécaire (2019-2021)</th>
                        <td><span class="title">Association Ludolieusaint (Lieusaint)</span><br>
                            Animation, gestion du stock de jeux, explication de jeux, création d'animations, accueil de la clientèle, tâches administratives, création d'un magazine</td>
                    </tr>
                    <tr>
                        <th>Plongeur en cafétéria (2018-2019)</th>
                        <td><span class="title">Mediterranéa de catering (Elche, Espagne)</span><br>
                            Plongeur en cafétéria d'hôpital, aide de la diététicienne à l'élaboration des menus
                        </td>
                    </tr>
                    <tr>
                        <th>Apprenti responsable qualité (2016-2017)</th>
                        <td><span class="title">SODEXO (Boulogne Billancourt)</span><br>
                            Audits hygiène en restauration collective sur l'Île de France, l'Est et le Nord, formation des équipes aux bonnes pratiques d'hygiène et à la nutrition
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</main>

