<main class="container">
    <div>
        <h1>Portfolio</h1>
        <div class="container-icon">
            <p>
                <i class="fa-solid fa-gun"></i><i class="fa-solid fa-hotel"></i>
                <i class="fa-solid fa-utensils"></i><i class="fa-solid fa-compass-drafting"></i>
                <i class="fa-solid fa-mitten"></i><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-magnifying-glass"></i>
            </p>
        </div>

        <h2>Site vitrine</h2>
            <ul>
                <li><a href="https://mpicat.github.io/Forcesspe/FS.html" target="_blank"><i class="fa-brands fa-firefox"></i> Site sur les Forces Spéciales Canadiennes</a></li>
                <li><a href="https://mpicat.github.io/P2_picat_maxime/" target="_blank"><i class="fa-brands fa-firefox"></i> Site vitrine de réservation d'hôtels (études)</a></li>
                <li><a href="https://mpicat.github.io/Picatmaxime_3_15012022/" target="_blank"><i class="fa-brands fa-firefox"></i> Site vitrine de réservation de repas (études)</a></li>
                <li><a href="https://mpicat.github.io/P4_PICAT_Maxime-website_modif/" target="_blank"><i class="fa-brands fa-firefox"></i> Site vitrine de de Web Design accessible (études)</a></li>
                <li><a href="https://mpicat.github.io/tricotMaman/" target="_blank"><i class="fa-brands fa-firefox"></i> Site de tricoteuse</a></li>
                <li><a href="https://github.com/mpicat/P7_picat_maxime" target="_blank"><i class="fa-brands fa-firefox"></i> Réseau social (études)</a></li>
            </ul>

            <h2>Jeu dont vous êtes le héros</h2>
            <ul>
                <li><a href="https://mpicat.github.io/heroBook/heroBookaccueil.html" target="_blank"><i class="fa-brands fa-firefox"></i> Site de jeu dont vous êtes le héros</a></li>
            </ul>
    </div>  
</main>

