<main>
    <section class="container">
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Portfolio</h1>
            </div>
            <div class="container__txt-more-icon">
                <p>
                    <i class="fa-solid fa-gun"></i><i class="fa-solid fa-mitten"></i>
                    <i class="fa-solid fa-utensils"></i><i class="fa-solid fa-magnifying-glass"></i>
                </p>
            </div>
            <ul>
                <li><a href="https://mpicat.github.io/Forcesspe/FS.html" target="_blank">Site sur les Forces Spéciales Canadiennes</a></li>
                <li><a href="https://mpicat.github.io/heroBook/heroBookaccueil.html" target="_blank">Site de jeu dont vous êtes le héros</a></li>
                <li><a href="https://mpicat.github.io/P2_picat_maxime/" target="_blank">Site vitrine de réservation d'hôtels (études)</a></li>
                <li><a href="https://mpicat.github.io/Picatmaxime_3_15012022/" target="_blank">Site vitrine de réservation de repas (études)</a></li>
                <li><a href="https://mpicat.github.io/P4_PICAT_Maxime-website_modif/" target="_blank">Site vitrine de de Web Design accessible (études)</a></li>
                <li><a href="https://mpicat.github.io/tricotMaman/" target="_blank">Site de tricot</a></li>
            </ul>
        </div>
    </section>
    <footer>
    </footer>
</main>
