$primary: rgba(233,103,103,255);
$secondary: rgba(255,255,255, 0.9);

.container {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    padding: 100px 15px 40px;
    height: 100%;
    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 3rem;
        color: $primary;
        padding: 20px 0;
    }
    &-icon {
        i {
            padding-right: 5px;
            font-size: 1.1rem;
        }
    }

    h2 {
        padding-top: 30px;
        text-transform: uppercase;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            border-bottom: 2px solid $primary;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        li a {
            text-decoration: none;
            color: #0487cc;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin: 50px 25%;
        border-radius: 10px;
        padding-top: 50px;
        height: 80%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin: 100px 25%;
    }
}