<mat-drawer-container class="container">
  <mat-drawer #sidenav mode="side" class="nav">
    <ul>
      <li>
          <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <div>
              <i class="fa-solid fa-house"></i>
              <p>Accueil</p>
            </div>
          </a>
      </li>

      <li>
        <a [routerLink]="['/competences']" routerLinkActive="active">
          <div>
            <i class="fa-solid fa-gear"></i>
            <p>Compétences</p>
          </div>
        </a>
      </li>

      <li>
        <a [routerLink]="['/portfolio']" routerLinkActive="active">
          <div>
            <i class="fa-solid fa-suitcase"></i>
            <p>Portfolio</p>
          </div>
        </a>
      </li>

      <li>
        <a [routerLink]="['/experiences']" routerLinkActive="active">
          <div>
            <i class="fa-solid fa-person-digging"></i>
            <p>Expériences</p>
          </div>
        </a>
      </li>

      <li>
        <a [routerLink]="['/formation']" routerLinkActive="active">
          <div>
            <i class="fa-solid fa-graduation-cap"></i>
            <p>Formations</p>
          </div>
        </a>
      </li>

      <li>
        <a [routerLink]="['/passe-temps']" routerLinkActive="active">
          <div>
            <i class="fa-solid fa-face-laugh"></i>
            <p>Passe-temps</p>
          </div>
        </a>
      </li>

      <li>
        <a href="./assets/CV_Picat_Maxime.pdf">
          <div>
            <i class="fa-solid fa-file"></i>
            <p>CV pdf</p>
          </div>
        </a>
      </li>
    </ul>
  </mat-drawer>

  <div class="nav-btn">
      <button (click)="sidenav.toggle(); toggleClass = !toggleClass" class="nav-btn__btn"><i [ngClass]="{'fa-times': toggleClass}" class="fa-solid fa-bars"></i></button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>