$primary: rgba(233,103,103,255);
$secondary: rgba(255,255,255, 0.9);

.container {
    background-image: url(../assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.nav {
    background-color: rgba(0,0,0,0.5);
    padding-top: 30px;
    width: 90px;
}

.nav-btn {
    position: absolute;
    top: 0;
    left: 0;
    &__btn {
        font-size: 2rem;
        cursor: pointer;
        background-color: $primary;
        margin: 15px;
        padding: 7px 15px;
        color: black;
        border: none;
        border-radius: 5px;
    }
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
            font-size: 1.7rem;
        }
        p {
            font-size: 0.8rem;
        }
    } 
    &:hover {
        color: $primary;
    }
}

.active {
    color: $primary;
}

@media screen and (min-width: 768px) {
    .nav-btn__btn {
        background-color: $secondary;
        color: $primary;
    }
}