<main>
    <section class="container">
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Compétences</h1>
            </div>
            <div class="container__txt-more">
                <div class="container__txt-more-icon">
                    <p>
                        <i class="fa-brands fa-html5"></i><i class="fa-brands fa-css3-alt"></i>
                        <i class="fa-brands fa-sass"></i><i class="fa-brands fa-js"></i>
                        <i class="fa-brands fa-angular"></i><i class="fa-solid fa-handshake-angle"></i>
                        <i class="fa-brands fa-wordpress"></i><i class="fa-brands fa-elementor"></i>
                        <i class="fa-brands fa-node-js"></i><i class="fa-solid fa-database"></i>
                        <i class="fa-brands fa-github"></i><i class="fa-solid fa-file-word"></i>
                        <i class="fa-solid fa-file-excel"></i><i class="fa-solid fa-file-powerpoint"></i>
                        <i class="fa-solid fa-language"></i><i class="fa-solid fa-earth-europe"></i>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Front End</th>
                        <td>Maîtrise de HTML 5<br>
                            Maîtrise de CSS 3 et SASS<br>
                            Connaissances en Javascript ES6 et Angular<br>
                            Connaissances des normes d'accessibilité et référencement du W3C<br>
                            Connaissances en Wordpress et Elementor
                        </td>
                    </tr>
                    <tr>
                        <th>Back End</th>
                        <td>Connaissances en NodeJS, mySQL, MongoDB</td>
                    </tr>
                    <tr>
                        <th>Bureautique</th>
                        <td>Connaissances en GitHub<br>
                            Maîtrise de Word, Excel, Powerpoint, Canva
                        </td>
                    </tr>
                    <tr>
                        <th>Langues</th>
                        <td>Anglais (lu, écrit et parlé)<br>
                            Espagnol (lu et parlé)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</main>
