<main class="container">
    <div>
        <div class="container-img">
            <img src="./assets/Picat_Maxime_Pic.jpg" alt="Photo Maxime PICAT">
        </div>
        <div class="container-content">
            <h1>Maxime Picat</h1>
            <h2>Développeur Web</h2>
            <p class="search"><i class="fa-solid fa-circle-check"></i> En recherche de CDI à distance</p>
            
        </div>
    </div>
    

    <div class="container-info">
        <p>Après avoir créé mon propre site internet, je me suis découvert une passion pour le développement web. Toujours désireux d'en apprendre plus sur ce domaine, je suis maintenant en recherche d'emploi.</p>
        <table>
            <tr>
                <th>Mail</th>
                <td>picatmaxime25@gmail.com</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>06.32.73.57.72</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td><a href="https://www.linkedin.com/in/maxime-picat-357b2ab5/" target="_blank">Mon profil Linkedin</a></td>
            </tr>
        </table>
    </div>
</main>