<!-- <main>
    <section class="container">
        <div class="container__img">
            <img src="./assets/max.jpg" alt="Photo de profil Maxime">
        </div>
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Maxime PICAT</h1>
                <h2>Développeur Web</h2>
            </div>
            <div class="container__txt-more">
                <table>
                    <tr>
                        <th>Age</th>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>126 Boulevard Henri Barbusse 91210 DRAVEIL</td>
                    </tr>
                    <tr>
                        <th>E-Mail</th>
                        <td>picatmaxime25@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>06.32.73.57.72</td>
                    </tr>
                </table>
            </div>
            <div class="container__txt-download">
                <div>
                    <a href="./assets/CV Maxime PICAT.pdf">Télécharger mon CV en format PDF</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <p>Organisé, créatif et autonome, après avoir exercé plusieurs activités variées telles que la diététique, l'animation et la restauration, je m'oriente à présent dans le développement informatique.</p>
        </div>
    </footer>
</main> -->

<main>
    <div class="container">
        <img src="./assets/max.jpg" alt="Photo Maxime PICAT">
        <div class="container-txt">
            <h1>Maxime Picat</h1>
            <h2>Développeur web</h2>
        </div>
        <div class="container-bg"></div>
        <div class="hidden-container">
            <table>
                <tr>
                    <th>Age</th>
                    <td>29</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>126 Boulevard Henri Barbusse 91210 DRAVEIL</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td>picatmaxime25@gmail.com</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>06.32.73.57.72</td>
                </tr>
            </table>
            <div class="hidden-container__download">
                <div>
                    <a href="./assets/CV Maxime PICAT.pdf">Télécharger mon CV en format PDF</a>
                </div>
            </div>
            <footer>
                <p>Organisé, créatif et autonome, après avoir exercé plusieurs activités variées telles que la diététique, l'animation et la restauration, je m'oriente à présent dans le développement informatique.</p>
            </footer>
        </div>
    </div>
</main>