<main class="container">
    <p class="container-developer">Développeur Web</p>
    <div class="container-content">
        <div class="container-content__txt">
            <h1>
                Maxime<br>
                Picat
            </h1>
            <h2>29 ans</h2>
            <p>Organisé, créatif et autonome, après avoir exercé plusieurs activités variées telles que la diététique, l'animation et la restauration, je m'oriente à présent dans le développement informatique.</p>
        </div>
        <div class="container-img">
            <img src="./assets/maxWithoutBg.png" alt="Photo Maxime PICAT">
        </div>
    </div>
</main>