<main class="container">
    <div class="container-txt">
        <div class="container-txt__item">
            <p class="date">En cours</p>
            <h2>Formation Développeur Web Niveau Bac+2</h2>
            <h3>OpenClassrooms (A distance)</h3>
        </div>
        <div class="container-txt__item">
            <p class="date">2017</p>
            <h2>Licence Professionnelle Sécurité Alimentaire, Nutrition et Analyse</h2>
            <h3>ISFFEL (Roscoff)</h3>
        </div>
        <div class="container-txt__item">
            <p class="date">2015</p>
            <h2>BTS Diététique</h2>
            <h3>Cours Diderot (Paris)</h3>
        </div>
    </div>
    <div class="container-title">
        <h1>Formation</h1>
        <div class="container-title__icon">
            <p>
                <i class="fa-solid fa-computer"></i><i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-apple-whole"></i>
            </p>
        </div>
    </div>
</main>



