<main>
    <section class="container">
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Formation</h1>
            </div>
            <div class="container__txt-more">
                <div class="container__txt-more-icon">
                    <p>
                        <i class="fa-solid fa-computer"></i><i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-apple-whole"></i>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Formation Développeur Web Niveau Bac+2 (En cours)</th>
                        <td><span class="title">OpenClassrooms (A distance)</span></td>
                    </tr>
                    <tr>
                        <th>Licence Professionnelle Sécurité Alimentaire, Nutrition et Analyse (2017)</th>
                        <td><span class="title">ISFFEL (Roscoff)</span></td>
                    </tr>
                    <tr>
                        <th>BTS Diététique (2015)</th>
                        <td><span class="title">Cours Diderot (Paris)</span><br>
                            Stages : Sénat, Hôpital Robert Debré, Salle de sport de Villeurbanne, Centre de dialyse d'Avignon, Centre de rééducation de Coubert
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</main>

