<main class="container">
    <div>
        <h1>Formations</h1>
        <div class="container-icon">
            <p>
                <i class="fa-solid fa-computer"></i><i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-apple-whole"></i>
            </p>
        </div>

        <h2>2022 - OpenclassRooms - Formation de Web Développeur</h2>
        <h3>Diplôme RNCP de niveau 5</h3>
        <p>Création de pages web dynamiques, d'API, gestion de base de données, amélioration du référencement et de l'accessibilité</p>

        <h2>2017 - ISFFEL - Licence Professionnelle Sécurité Alimentaire</h2>
        <h3>Diplôme RNCP de niveau 6</h3>

        <h2>2015 - Cours Diderot - BTS Diététique</h2>
        <h3>Diplôme RNCP de niveau 5</h3>
    </div>
</main>



