<main>
    <section class="container">
        <div class="container__txt">
            <div class="container__txt-title">
                <h1>Passe-temps</h1>
            </div>
            <div class="container__txt-more">
                <div class="container__txt-more-icon">
                    <p>
                        <i class="fa-solid fa-dumbbell"></i><i class="fa-solid fa-shoe-prints"></i>
                        <i class="fa-solid fa-basketball"></i><i class="fa-solid fa-book"></i>
                        <i class="fa-solid fa-hat-chef"></i><i class="fa-solid fa-film"></i>
                        <i class="fa-solid fa-game-board"></i><i class="fa-solid fa-globe"></i>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Activité Physique</th>
                        <td>Musculation<br>
                            Jogging<br>
                            Basket-ball
                        </td>
                    </tr>
                    <tr>
                        <th>Diététique</th>
                        <td>Lecture de livres et articles de diététique<br>
                            Cuisine</td>
                    </tr>
                    <tr>
                        <th>Multimédia</th>
                        <td>Films<br>
                            Jeux de société (jeu et élaboration de jeux)
                        </td>
                    </tr>
                    <tr>
                        <th>Voyages</th>
                        <td>Espagne, Belgique, Etats-Unis, Irlande, Islande, Tunisie, République Tchèque, Angleterre, Allemagne, Pays-Bas
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</main>
