<main class="container">
    <div class="container-txt">
        <div class="container-txt__item">
            <h2>Activité Physique</h2>
            <p>
                <i class="fa-solid fa-face-smile"></i> Musculation<br>
                <i class="fa-solid fa-face-smile"></i> Jogging<br>
                <i class="fa-solid fa-face-smile"></i> Basket-ball
            </p>
        </div>
        <div class="container-txt__item">
            <h2>Diététique</h2>
            <p>
                <i class="fa-solid fa-face-smile"></i> Lecture de livres et articles de diététique<br>
                Cuisine
            </p>
        </div>
        <div class="container-txt__item">
            <h2>Multimédia</h2>
            <p>
                <i class="fa-solid fa-face-smile"></i> Films<br>
                <i class="fa-solid fa-face-smile"></i> Jeux de société (jeu et création de jeux de plateau et de cartes)
            </p>
        </div>
        <div class="container-txt__item">
            <h2>Voyages</h2>
            <p>
                <i class="fa-solid fa-face-smile"></i> Espagne, Belgique, Etats-Unis, Irlande, Islande, Tunisie, République Tchèque, Angleterre, Allemagne, Pays-Bas
            </p>
        </div>
    </div>
    <div class="container-title">
        <h1>Passe-temps</h1>
        <div class="container-title__icon">
            <p>
                <i class="fa-solid fa-dumbbell"></i><i class="fa-solid fa-shoe-prints"></i>
                <i class="fa-solid fa-basketball"></i><i class="fa-solid fa-book"></i>
                <i class="fa-solid fa-hat-chef"></i><i class="fa-solid fa-film"></i>
                <i class="fa-solid fa-game-board"></i><i class="fa-solid fa-globe"></i>
            </p>
        </div>
    </div>
</main>


